
body{
    line-height: normal;
}
.container{
   align-items: center;
   max-width: 1400px!important;
}
.address{
   font-family: normal;
   font-size: 1rem;
}
.ph-no{
   font-family: normal;
   font-size: 1.1rem;
}
.telephone{
   float: left;
}
.menus li a{
  font-size: medium;
  color: #354053!important;
  font-weight: 600;
}
.menus li a:hover{
  color: #3F78E0!important;
}
img{
    width: 100%;
    
}
.imgage{
    border-radius: 20px;
    opacity: 60%;
}
.hey{
    position: relative;
    animation: my 3s 1; 
}
@keyframes my{
    from {left: 700px;}
    to {left: 0px;}
}
.image{
  float: right;
  width: 600px;
  height: 600px;
  border-radius: 20px;
  position: relative;
  animation: mymove 3s 1;
}
@keyframes mymove{
    from {left: -700px;}
    to {left: 0px;}
}
.top{
    padding-top: 100px;
}
.dropdown-toggle::after{
  color: #3F78E0;
}
.menus li{
  padding-left: 50px;
}
.heading{
    padding-top: 100px;
    font-size: 55px;
    font-family: "DM Serif Display";
    color: #354053!important;
    padding-bottom: 15px;
    line-height: 60px;
}
.sub-heading{
  font-size: 30px;
    font-family: "DM Serif Display";
    color: #616A7C!important;
    padding-bottom: 15px;
}
.button1{
  background-color: #3F78E0;
  border: 2px solid #3F78E0;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.button2{
  border: 2px solid #3F78E0;
  background-color:#F8F9FA;
  color: #3F78E0;
  font-size: 20px;
  font-weight: 600;
  padding: 15px 25px;
  margin: 3px;
}
.button2:hover{
    background-color: #3F78E0;
    color: white;
}
.button1:hover{
    border: 2px solid #3F78E0;
    background-color: white;
    color: #3F78E0;
}
.logo1{
    width: 100px;
    height: 40px;
    transition: transform .1s;
    opacity: 40%;
}
.logo1:hover{
    transform: scale(1.1); 
    opacity: 100%;
}
.logos{
    margin-top: 100px;
    line-height: 80px;
}
.what{
    margin-top: 100px;
}
.headr{
    font-family: "DM Serif Display";
    font-size: 2rem;
    font-weight: bold;
    color: #343F52;
}
.icons i{
    margin-top: 40px;
    margin-bottom: 25px;
    background-color: #3F78E0;
    color: white;
    font-size: 25px;
    padding: 15px 20px;
    border-radius: 50%;
}
.matter{
    color: #354053;
}
.grid{
    margin-top: 100px;
}
.image{
    width: 100%;
    height: 600px;
}
.matter1{
    font-family: "DM Serif Display";
    font-size: 40px;
    font-weight: bold;
    word-spacing: normal !important;
    letter-spacing: normal !important;
}
.ml{
    margin-right: 15px;
}
.ml-6{
    margin-left: 60px;
}
.slider{
    position: relative;  
}
.slider-img1{
    position: absolute;
    top: 100px;
    left: 350px;
    font-family: "DM Serif Display";
    font-size: 40px;
    color: white;
}
.butn{
    width: 100px;
    height: 50px;
    font-family: "DM Serif Display";
    font-size: 15px;
    margin: 40px 300px;
    background-color: #3F78E0;
    color: white;
    border: none;
    border-radius: 10px;
}
.butn:hover{
    background-color: white;
    color: #3F78E0;
}
.lik{
    color: white;
}
.img5{
    border-radius: 15px;
}
.play{
    position: relative;  
} 
.butn1{
    position: absolute;
    top: 180px;
    left: 290px;
    font-size: 100px!important;
    color: #3F78E0!important;
    background-color: transparent!important;
    border: none!important;
}
.butn1:hover{
    background-color: transparent;
    color: darkblue!important;
}
.slide1{
    margin: 100px 0px;
}
.modal-bg{
    background-color: transparent;
}
.play-butn{
    transition: tram;
}
.sub1{
    font-family: "DM Serif Display";
    font-size: 40px;
    font-weight: bold;
    word-spacing: normal !important;
    letter-spacing: normal !important;
}
.right{
    background-color: #6291e9;
    padding: 1px;
    border-radius: 10px;
}
.grid3{
    padding: 0px 50px;
}
.sub3{
    font-family: "DM Serif Display"; 
    font-size: 40px;
    font-weight: bold;
    word-spacing: normal !important;
    letter-spacing: normal !important;
    color: rgb(58, 56, 56);
}
.butn4{
    border: none;
    background-color: #3F78E0;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
}
.butn4:hover{
    text-decoration: none;
    background-color: white;
    color: #3F78E0;
}
.pages:hover + ul{
    display: block;
}
.Projects:hover + ul{
    display: block;
}
.Blog:hover + ul{
    display: block;
}
.Blocks:hover + ul{
    display: block;
}
.Documentation:hover + ul{
    display: block;
}
.texted{
    line-height: 25px;
    text-align: justify;
    margin-right: 80px;
}
.t1{
    font-size: 25px;
    font-weight: 500px;
    color: #343F52;
}
.Special{
    font-size: 15px;
    font-weight: 500;
    color: #bcbfc5;
}
.ms{
    font-weight: 500;
    font-family: "DM Serif Display"; 
}
.twitter:hover{
    color: #3e7bee;
}
.slack:hover{
    color: rgb(233, 71, 125);
}
.linkin:hover{
    color: #3e7bee;
}
.tumblr:hover{
    color: rgb(7, 233, 98);
}
.youtube:hover{
    color: red;
}
.dribbble:hover{
    color: rgb(238, 36, 164);
}
.facebook:hover{
    color: blue;
}
.links{
    color: black;
}
.card-top{
    margin-top: 120px;
}
.card2{
    position: relative;
    background-color: #F1F5FD;
}
.png-photo{
    position: absolute;
    bottom: 0px;
    left: 10%;
    width: 23%
}
.star li{

    list-style: none;
    float: left;
    text-align: center;
    color: gold;
    font-size: 15px;
}
.star{
    overflow: hidden;
    margin-left: 38%;
}
.matter2{
    font-family: "DM Serif Display"; 
    font-size: 30px;
    word-spacing: normal !important;
    letter-spacing: normal !important;
    color: #606990; 
}
.matter3{
    font-family: "DM Serif Display"; 
    font-size: 15px;
    font-weight: 500;
    color: #bcbfc5;
}
.logo-dark{
    width: 150px;
    color: black;
}
.social a{
    padding: 0px 10px;
    color: black;
}
.instagram:hover{
    color: rgb(248, 20, 58);
}
.footer{
    line-height: 25px;
    font-family: "DM Serif Display"; 
}
.mail{
    text-decoration: none!important;
    color: #6C7581;
}
.email{
    border: 1px solid #e0e2e6;
    border-radius: 8px 0px 0px 8px;
    padding: 12px 20px;
    background-color: #F8F9FA;
}
.submit{
    border: none;
    color: white;
    background-color: #3F78E0;
    margin-left: -5px;
    padding: 12px 20px;
    border-radius: 0px 8px 8px 0px;
}
.hello{
    transition: transform .1s;
}
.hello:hover {
    -ms-transform: scale(1); 
    -webkit-transform: scale(1); 
    transform: scale(1.1); 
}
.matters{
    animation-name: example;
    animation-duration: 4s;
    animation-delay: -2s;
}
  @keyframes example {
   50%  { left:0px; top:200px;}
    100% { left:0px; top:0px;}
}